<mat-toolbar color="primary">
  <span *ngIf="userIsAuthenticated">
    <!--Routes tell the Router which view to display when a user clicks a link or pastes a URL into the browser address bar.-->
    <a routerLink="/missions">My Missions</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/missions" style="color: #04efe0"
        >Welcome back, {{fullName}}</a
      >
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/createmission" routerLinkActive="mat-accent"
        >New Mission</a
      >
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/" >Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent"
        >Signup</a
      >
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
